[package]
name = "purebundle"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
lto = true

[dependencies]
swc_core = { version = "46.0.2", features = ["ecma_plugin_transform", "__parser"] }

[dev-dependencies]
testing = { version = "*" }
