name: Node

on:
  push:
    branches:
      - "main"
    tags:
      - 'v*'

jobs:
  node:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: extractions/setup-just@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: rustup target add wasm32-wasip1

      - run: just dep ci
        env:
          INNOAI_TECH_REGISTRY_AUTH_TOKEN: ${{ github.token }}
